{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>Home</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="container">

<h1>University Hub</h1>

<p>Welcome to our university portal</p>

<a href="{% url 'department' %}">Departments</a>

<a href="{% url 'contact' %}">Contact</a>

<a href="{% url 'student_registration' %}">Students</a>

</div>

</body>
</html>